@charset "utf-8";
/* CSS Document */
html,body{
	height:100%;
	width:100%;
}
h3,input,li,body,select,a{
	font-family:'\5FAE\8F6F\96C5\9ED1';color:#006DA8;
}
a{
	display:block;
}
img{width:100%;}
.loadbox {
	width: 100%;height: 100%;
	position: fixed;top:0;left:0;
	z-index:100;
	background:black;
}
.loadtext {
	width: 100px;line-height: 40px;
	padding-top:60%;
	font-weight: bold;font-size: 25px;color: #FFF;
	margin: 0 auto;text-align: center;
	position: relative;
}
.circle1,.circle2{
	box-shadow: 0 0 35px #fff;margin:0 auto;position:relative;
}
.circle1{
	width:50px;height:50px;border:5px solid #fff;border-top-color:#fbd230;border-bottom-color:#fbd230; 
	border-radius:50px;
	-webkit-animation:circle-1 1s infinite linear;-moz-animation:circle-1 1s infinite linear;animation:circle-1 1s infinite linear;
}
.circle2{
	width:30px;height:30px;border:5px solid #fff;border-left-color:#fbd230;border-right-color:#fbd230; 
	border-radius:30px;top:-50px;
	-webkit-animation:circle-2 1s infinite linear;-moz-animation:circle-2 1s infinite linear;animation:circle-2 1s infinite linear;
}
/* loading动画 */
@-webkit-keyframes circle-1 {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #fff; }
	50% { -webkit-transform:rotate(120deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes circle-1 {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #fff; }
	50% { -moz-transform:rotate(120deg); opacity:1;}
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@keyframes circle-1 {
	0% {transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #fff; }
	50% {webkit-transform:rotate(120deg); opacity:1;}
	100% {transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes circle-2 {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes circle-2 {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@keyframes circle-2 {
	0% {transform:rotate(0deg); }
	100% {transform:rotate(360deg); }
}
.hide{display:none;}
.page-current{z-index:2;}

#content{width:100%;height:100%;margin:0 auto;}
.wrap{position:absolute;top:0;left:0;overflow:hidden;}
.logo{width:30%;position:absolute;top:0;left:0;}
.home{width:20%;position:absolute;top:0;right:10%;z-index:100;}
/*第一页*/
.page-1-1{background:url(../images/p1_bg.jpg) top center;background-size:100% auto;z-index:1;}
#p1{height:100%;position:absolute;top:5%;left:50%;-webkit-transform:translateX(-50%);}
#p1 li:not(.p1-2){position:absolute;left:0;top:0}
#p1 li:nth-child(1){position:relative;height:100%;width:auto}
#p1 li:nth-child(1) img{height:100%;width:auto}

.p1-1{
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.3s;
	animation-delay:0.3s;
}
.p1-2{
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.3s;
	animation-delay:0.3s;
	width:30%;
	top:50%;
	left:35%;
	position:absolute;
}

.p1-3{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
}
.p1-4{
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
}
.p1-5{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
}
/*第二页*/
.page-2-1{background:url(../images/p2_bg.jpg) top center;background-size:100% auto;}
.p2-3{position:absolute;bottom:5%;width:60%;left:40%;}
.p2-2{position:absolute;bottom:16%;width:60%;left:0}

.p2-1{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
}
.p2-2{
	animation:dong 2s linear;
	-webkit-animation:dong 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.p2-3{
	animation:dongs 2s linear;
	-webkit-animation:dongs 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.p2-6{
	width:30%;position:absolute;right:0;top:10%;
	animation:huan 2s linear;
	-webkit-animation:huan 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
/*第三页*/
.page-3-1{background:url(../images/p4_bg.jpg) top center;background-size:100% auto;}
#p3{height:100%;position:absolute;top:0;left:50%;-webkit-transform:translateX(-50%);}
#p3 li{position:absolute;left:0;top:0}
#p3 li:nth-child(1){position:relative;height:100%;width:auto}
#p3 li:nth-child(1) img{height:100%;width:auto}

.p3-1{
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:2s;
	animation-delay:2s;
}
.p3-2{
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
}
.p3-3{
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:1s;
	animation-delay:1s;
}
.p3-4{
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:3s;
	animation-delay:3s;
}
/*第四页*/
.p5-4{width:10%;position:absolute;top:60%;left:45%;}
.p5-5{width:80%;position:absolute;top:65%;left:10%;display:block;}
.p4spe{
	background:url(../images/bg.png) top center; background-size:100% 100%;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.p4spe>div{
	position:absolute;
}
.activeleft{
	top:40%;
	left:10%;
	z-index:5;
	width:40%;
}
.activeright{
	top:40%;
	right:10%;
	z-index:5;
	width:40%;
}
.actives{width:60%;left:20%;top:20%;z-index:10;}
.page-4-1{background:url(../images/p3_bg.jpg) top center;background-size:100% auto;}
.p4-1{
	position:absolute;top:20%;left:15%;width:70%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
}
.p4-2{
	position:absolute;top:30%;left:10%;width:60%;
	animation:dongs 2s linear;
	-webkit-animation:dongs 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.p4-3{
	position:absolute;top:38%;left:40%;width:60%;
	animation:dong 2s linear;
	-webkit-animation:dong 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.p4-4{
	position:absolute;top:45%;left:20%;width:60%;
	animation:dongs 2s linear;
	-webkit-animation:dongs 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
/*第五页*/
.spe{background:url(../images/bg.png) top center;background-size:100% 100%;position:absolute;top:0;left:0;z-index:1000;}
.job_bg{position:absolute;top:10%;left:10%;text-align:center;color:white;font-size:12px;width:80%;height:70%;background:url(../images/job_bg.png) top center;background-size:100% 100%;padding-bottom:20%;}
.close{
	float:right;
	width:10%;
}
.job_bg p{
	width:79%;
	margin:20% auto 0 auto;
}
.job_bg a{
	width:38%;
	padding:1% 0;
	display:inline-block;
	border-top:1px solid white;
	border-left:1px solid white;
	color:white;
}
.job_bg a:nth-child(even){
	border-right:1px solid white;
}
.job_bg span{
	text-align:left;
	display:block;
	margin-top:10%;
	width:80%;
	margin-left:10%;
}

.job_bg table{
	margin-left:10%;margin-top:-5%;
	border:1px solid white;
}
.job_bg table tr td{
	border-bottom:1px solid white;
}
.join{position:absolute;display:block;bottom:2%;width:40%;left:30%;}
.bottom_img{width:80%;margin:0 auto;}
/*第九页*/
.page-5-1{
	background:url(../images/p5_bg.jpg) top center; background-size:100% 100%;
}
#page9-1{width:100%;height:100%;position:relative;}
.p9-1{width:80%;position:absolute;top:30%;left:10%;}
.p9-2{width:80%;position:absolute;top:30%;left:10%;
	-webkit-animation:rotateS 4s linear;
	animation:rotateS 4s linear;
}
.p9-5{width:20%;position:absolute;top:25%;right:0;display:none;
	-webkit-animation:opH 1.5s linear infinite;
	animation:opH 1.5s linear infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p9-6{width:35%;position:absolute;top:25%;left:15%;display:none;
	-webkit-animation:opH 1.5s linear infinite;
	animation:opH 1.5s linear infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p9-7{width:15%;position:absolute;top:50%;right:10%;display:none;
	-webkit-animation:opH 1.5s linear infinite;
	animation:opH 1.5s linear infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p9-8{width:15%;position:absolute;top:50%;left:5%;display:none;
	-webkit-animation:opH 1.5s linear infinite;
	animation:opH 1.5s linear infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p9-9{width:20%;position:absolute;top:60%;left:8%;display:none;
	-webkit-animation:opH 1.5s linear infinite;
	animation:opH 1.5s linear infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p9-10{width:30%;position:absolute;top:65%;right:10%;display:none;
	-webkit-animation:opH 1.5s linear infinite;
	animation:opH 1.5s linear infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes rotateS{
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	} 
}
@keyframes rotateS {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	} 
}

@-webkit-keyframes opH{
	0% {
		transform: scale(1);
		-webkit-transform:scale(1);
	}
	50%{
		transform: scale(1.2);
		-webkit-transform:scale(1.2);
	}
	100% {
		transform: scale(1);
		-webkit-transform:scale(1);
	}
}
@keyframes opH {
	0% {
		transform: scale(1);
		-webkit-transform:scale(1);
	}
	50%{
		transform: scale(1.2);
		-webkit-transform:scale(1.2);
	}
	100% {
		transform: scale(1);
		-webkit-transform:scale(1);
	}
}
/*第十页*/
.page-6-1{
	background:url(../images/p10_bg.jpg) top center; background-size:100% 100%;
}
.p10-1{
	width:50%;
	margin-left:25%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
}
.p10-2{
	width:50%;
	margin-left:25%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
}
.p10-3{
	width:50%;
	margin-left:25%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:1.5s;
	animation-delay:1.5s;
}
.p10-4{
	width:50%;
	margin-left:25%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:1.8s;
	animation-delay:1.8s;
}
.ewm{
	width:35%;
	margin-left:32.5%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:2.1s;
	animation-delay:2.1s;
}
.p10-5{
	width:50%;
	margin-left:25%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay:1.2s;
	animation-delay:1.2s;
}
.swiper-slide-active{
	z-index:99999;
}
.shares{
	width:100%;height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/bg.png);
}
.shares img{
	width:30%;
	float:right;
	margin-top:5%;
}
@-webkit-keyframes lowDown{
	0% {
		opacity:0;
		-webkit-transform:scale(3);
		transform:scale(3);
	}
	100% {
		opacity:1;
		-webkit-transform:scale(1);
		transform:scale(1);
	} 
}
@keyframes lowDown {
	0% {
		opacity:0;
		-webkit-transform:scale(3);
		transform:scale(3);
	}
	100% {
		opacity:1;
		-webkit-transform:scale(1);
		transform:scale(1);
	} 
}
.lowDown {
	-webkit-animation-name: lowDown;
	animation-name: lowDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:2s;
	animation-delay:2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	opacity:0;
}
.arrow{
	width:20%;
	position:fixed;
	bottom:2%;
	left:40%;
	z-index:5;
	-webkit-animation:arrowMove 1s 0.3s infinite linear;
	animation:arrowMove 1s 0.3s infinite linear;
}

@-webkit-keyframes arrowMove {
	0% { -webkit-transform: translateY(0); transform: translateY(0);}
	100% {-webkit-transform: translateY(-50%); transform: translateY(-50%);opacity:0;}
}
@keyframes arrowMove {
	0% { -webkit-transform: translateY(0); transform: translateY(0);}
	100% { -webkit-transform: translateY(-50%); transform: translateY(-50%);opacity:0}
}

@-webkit-keyframes huan {
	0% { -webkit-transform:rotate(0deg);transform: rotate(0deg);}
	50% {-webkit-transform:rotate(30deg); transform: rotate(30deg);}
	100% {-webkit-transform:rotate(0deg); transform: rotate(0deg);}
}
@keyframes huan {
	0% { -webkit-transform:rotate(0deg);transform: rotate(0deg);}
	50% {-webkit-transform:rotate(30deg); transform: rotate(30deg);}
	100% {-webkit-transform:rotate(0deg); transform: rotate(0deg);}
}

@-webkit-keyframes dong {
	0% { -webkit-transform:translate(0px);transform: translate(0px);}
	50% {-webkit-transform:translate(30px); transform: translate(30px);}
	100% {-webkit-transform:translate(0px);transform: translate(0px);}
}
@keyframes dong {
	0% { -webkit-transform:translate(0px);transform: translate(0px);}
	50% {-webkit-transform:translate(30px); transform: translate(30px);}
	100% {-webkit-transform:translate(0px);transform: translate(0px);}
}

@-webkit-keyframes dongs {
	0% { -webkit-transform:translate(0px);transform: translate(0px);}
	50% {-webkit-transform:translate(-30px); transform:translate(-30px);}
	100% {-webkit-transform:translate(0px);transform: translate(0px);}
}
@keyframes dongs {
	0% { -webkit-transform:translate(0px);transform: translate(0px);}
	50% {-webkit-transform:translate(-30px); transform: translate(-30px);}
	100% {-webkit-transform:translate(0px);transform: translate(0px);}
}
@-webkit-keyframes dongss {
	0% { -webkit-transform:translate(0px);transform: translate(0px);}
	50% {-webkit-transform:translateY(-30px); transform:translateY(-30px);}
	100% {-webkit-transform:translate(0px);transform: translate(0px);}
}
@keyframes dongss {
	0% { -webkit-transform:translate(0px);transform: translate(0px);}
	50% {-webkit-transform:translateY(-30px); transform: translateY(-30px);}
	100% {-webkit-transform:translate(0px);transform: translate(0px);}
}
.actives{
	animation:dongss 2s linear;
	-webkit-animation:dongss 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.activeleft{
	animation:dongs 2s linear;
	-webkit-animation:dongs 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
.activeright{
	animation:dong 2s linear;
	-webkit-animation:dong 2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
/* 版权 color:#006DA8;*/
.footer {
	width: 100%;text-align: center;color:#333;
	line-height: 16px;font-size:12px;
	position: fixed;bottom: 0;left: 0;z-index: 90;
	padding: 3px 0;
}
.footer>img {
	vertical-align:text-bottom;padding-right:5px;width:12px;display:inline-block;
}

.deLocation,.deDes,.deTit{
	background-image:url(../images/de.png);
	background-repeat:no-repeat;
	padding-left:30px;
}
.deTit{
	background-position:2px 11px;font-size:24px;font-weight:bold;
}
.deLocation{
	background-position:-1px -38px;font-size:14px;padding-top:10px;padding-bottom:10px;border-bottom:2px solid white;margin-bottom:30px;
}
/** 屏幕横竖切换 **/
.cover {
	display:none;
	z-index:4;
	background:black;
	height:100%;
	width:100%;
	position:fixed;
}
.iphone{
	width: 73px;height: 109px;
	position: absolute;left: 50%;top: 40%;
	margin-top: -54px;margin-left: -36px;
	background:url(../images/phone.png) no-repeat;
	background-size: 73px 109px;
	-webkit-animation:phone 1s 0.3s infinite;
	-moz-animation:phone 1s 0.3s infinite;
	animation:phone 1s 0.3s infinite;
}
.cover>p {
	position: absolute;top: 65%;left: 0;
	text-align: center;width: 100%;
	color: #fff;
}
/** 屏幕横竖切换动画 **/
@-webkit-keyframes phone{
	0%,100%{-webkit-transform:rotate(0deg);}
	50%{-webkit-transform:rotate(-90deg);}
}
@-moz-keyframes phone{
	0%,100%{-moz-transform:rotate(0deg);}
	50%{-moz-transform:rotate(-90deg);}
}
@keyframes phone{
	0%,100%{transform:rotate(0deg);}
	50%{transform:rotate(-90deg);}
}
.job_img{
	width:80%;
	margin:20% auto 0 auto;
}


/*版权*/
.footer{width:100%;text-align:center;color:#fff;line-height:20px;position:fixed;bottom:0;left:0;z-index:90;background:#021e34}
.footer img{vertical-align:text-bottom; padding-right:5px;width:1em;display:inline}


/*音乐管理*/
.audio{
	position:fixed;
	top:3%;
	right:5%;
	width:26px;
	height:26px;
	z-index:999;
}
.play{background:url(../images/music.png) top center ;background-size:100% 100%;width: 26px;height: 26px;border: none;position: absolute;top:0;right: 0;}
.pause{background:url(../images/music.png) top center ;background-size:100% 100%;width: 26px;height: 26px;border: none; position: absolute;top:0;right: 0px;	-webkit-animation:Rot 4s infinite linear;
animation:Rot 4s infinite linear;}
@-webkit-keyframes Rot {
		0% { -webkit-transform:rotate(0deg);transform: rotate(0deg);}
		100% {-webkit-transform:rotate(720deg); transform: rotate(720deg);}
	}
@keyframes Rot {
		0% { -webkit-transform:rotate(0deg);transform: rotate(0deg);}
		100% {-webkit-transform:rotate(720deg); transform: rotate(720deg);}
}